h1{
    text-align: center;
    border-style: solid;
}
h1 u{
 text-align: center;
}
h1{
 text-align: center;
}
p{
text-align: center;
}
p{
text-align: center;
}
h1 u{
text-align: center;
}
#shapes{
    width:265px;
}